/*
	maps.css
	Copyright 2002-2014 by Christopher Heng. All rights reserved.
	https://www.thesitewizard.com/
*/

div.leftcontent {
	float: left ;
	width: 49% ; /* IE6: takes it as % of window, not containing div if xml tag not used */
}
div.rightcontent {
	margin-left: 51% ; /* IE6: takes it as % of window, not containing div if xml tag not used */
}
div.box {
	border: 1px solid black ;
	padding-bottom: 0.5em ;
	border-radius: 10px ;
}
div.boxtitle {
	background: #9cf ;
	color: black ;
	font-weight: bold ;
	font-size: 1.1em ;
	padding-top: 5px ;
	padding-bottom: 5px ;
	text-align: center ;
	width: 100% ; /* IE6 chokes on this, but Opera uses <100% when this is not around */
	border-top-left-radius: 10px ;
	border-top-right-radius: 10px ;
}
div.boxcontents {
	padding: 10px ;
}

@media only screen and (max-width:629px) {
	div.leftcontent {
		float: none ;
		width: auto ;
	}
	div.rightcontent {
		margin-left: auto ;
	}
}
